{% extends 'base.html.twig' %}

{% block title %}Hello MessController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h1>Liste des Messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Priorité</th>
            </tr>
        </thead>
        <tbody>
        {% for messages in message %}
            <tr>


                
                <td data-label="Titre">{{ messages.contenu }}</td>
                
                
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utili_ajou') }}" class="btn btn-success">Ajouter un nouvel utilisateur</a>

</div>
{% endblock %}
